{% extends 'base.html.twig' %}
{% block title %}
    review-accueil
{% endblock %}
{% block body %}
    <div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenu sur mon site ! </h1>
  <p class="lead">AppRecette est une application qui vous permet de créer des recettes à base d'ingrédients que vous aurez vous-même créer. Vous pourrez partager votres recettes à la communité du site , ou bien les garder en privée. 
                Pour mieux commprendre comment utiliser cette application</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
{% endblock %}